@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

:root {
    --sand: #eecab4ff;
    --violet: #7b668dff;
    --brown: #3f2814ff;
    --blue: #89acd5ff;
    --green: #2e8784ff;

    --bodyColor: var(--brown);
    --backgroundColor: var(--sand);

    --bodyFont: "Nunito Sans", sans-serif;
    --headerFont: "Oswald", sans-serif;
    --specialFont: "Kanit", sans-serif;
}

body{
    color: var(--bodyColor);
    background-color: var(--backgroundColor);
    font-family: var(--bodyFont);
}

h1,h2,h3,h4,h5,h6{
    font-family:var(--headerFont);
    margin:0px;
}

.header {
    display: flex;
    align-content:flex-end;
    justify-content: space-between;
    border-bottom: 10px solid var(--bodyColor);
    padding-bottom: 5px;
}

.head-center a{
    text-decoration:none;
    color: var(--bodyColor);
}

.head-center a:hover{
    color: var(--violet);
}

.head-side {
    display:flex;
    font-size: 20px;
    margin: 0;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding-right: 20px;
    justify-content: flex-end;
}

.head-side button {
    margin-left:10px;
    background-color:var(--backgroundColor);
    border:3px solid var(--brown);
    border-radius:5px;
    font-family:var(--headerFont);
    font-size: large;
}

.head-side button:hover{
    background-color:var(--violet);
}

.head-welcome {
    margin: 0;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.head-log-reg{
    display:flex;
    justify-content:flex-end;
    align-items:flex-end;
}

.nav-bar {
    display: flex;
    align-items: center;
    align-content:center;
    justify-content:center;
    padding: 10px;
}

.nav-bar a{
    text-decoration:none;
    color: var(--bodyColor);
    padding:5px;
}

.nav-bar a:hover{
    color:var(--violet);
}

.container {
    text-align: center;
    background-image: url('../assets/graphics/login_background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    min-height:90vh;
}

section {
    backdrop-filter: blur(30px);
    border-radius: 30px;
    width: 50%;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(26, 25, 25, 0.658);
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 450;
    margin: 0;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: white;
}

input, .loginBtn {
    margin-top: 5px;
    background-color: var(--sand);
    color: #000000; 
    border: 2px solid #6A704C; 
    border-radius: 5px;
    padding: 10px;
}

.loginBtn {
    cursor: pointer;
}

.loginBtn:hover {
    background-color: var(--violet);
}

img {
    width: 160px;
    background-color: var(--sand);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px #3E2723;
}