@model hotelASP.Models.Room

@{
    ViewData["Title"] = "Edit";
}

<h1>Edytowanie</h1>

<h4>
    Pokój nr @Html.DisplayFor(Model => Model.Id_room)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_room" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Is_taken" class="control-label"></label>
                <select asp-for="Is_taken" class="form-control">
                    @{
                        if(Model.Is_taken == 0)
                        {
                            <option value="0" selected>Wolny</option>
                            <option value="1">Zajęty</option>
                        }
                        else
                        {
                            <option value="0">Wolny</option>
                            <option value="1" selected>Zajęty</option>
                        }
                    }
                </select>
                <span asp-validation-for="Is_taken" class="text-danger"></span>
            </div>  


            <div class="form-group">
                <label asp-for="Price"  class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
