@model IEnumerable<hotelASP.Models.Room>

@{
	ViewData["Title"] = "Pokoje";
}
<div class="roomsTable">
	<table class="table">
		<thead>
			<tr>
				<th>
					Pokoje
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Description)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id_room">Edit</a> |
						<a asp-action="Details" asp-route-id="@item.Id_room">Details</a> |
						<a asp-action="Delete" asp-route-id="@item.Id_room">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
